<div class="sidebar">

    <div class="sidebar-logo">

        <i class="fas fa-shield-halved"></i>

        <span>SIRIS-CA</span>

    </div>

    <div class="menu">

        <a class="menu-item active">
            <i class="fas fa-chart-line"></i>
            Dashboard
        </a>

        <a class="menu-item">
            <i class="fas fa-globe-americas"></i>
            Eventos
        </a>

        <a class="menu-item">
            <i class="fas fa-map"></i>
            Mapa
        </a>

        <a class="menu-item">
            <i class="fas fa-chart-pie"></i>
            Reportes
        </a>

        <a class="menu-item">
            <i class="fas fa-brain"></i>
            Inteligencia IA
        </a>

        <a class="menu-item">
            <i class="fas fa-gear"></i>
            Configuración
        </a>

    </div>

</div>